<launch>
<!-- Launch file for c16 LiDAR -->

    <arg name="rviz" default="true" />

    <!-- load map path from bash -->
    <arg name="map_save_path" default="/home/zox/slam/lite3" />
    <param name="map_file_path" type="string" value="$(arg map_save_path)"/>

    <rosparam command="load" file="$(find faster_lio)/config/c16.yaml" />

    <param name="user_name" type="string" value="nvidia"/>

    <param name="runtime_pos_log_enable" type="bool" value="0" />
    <node pkg="faster_lio" type="run_mapping_online" name="laserMapping" output="screen" />

    <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find faster_lio)/rviz_cfg/loam_livox.rviz" />
    </group>

</launch>
